body {
	font-family: sans-serif;
	margin-left: 20px;

	img {
		float: left;
	  width: 300px;
	  height: 250px;
		padding-right: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 20px;
	}

	h1 {
		background-color: rgb(117, 152, 200);
  	padding: 10px;
		padding-bottom: 50px;
	}

	section {
	  display: flex;
	}

	article {
        padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px;
				padding-bottom: 5px;
        margin-top: 10px;
				margin-bottom: 10px;
				margin-left: 20px;
				margin-right: 20px;
        background: rgb(230,230,230);
				color: rgb(31, 48, 80);
	}

	dt {
	  background-color: rgb(42, 65, 111);
	  color: white;
	  padding: 10px;
	  position: sticky;
	  top: 0;
	  left: 0;
	  margin: 1em 0;
	}

	dd {
	  margin-bottom: 10px;
	}
}

div {
  clear: left;
}

.background-img {
	background-image: url("../images/tableclothbackground.png");
	background-repeat: no-repeat;
  background-size: cover;
}
